.todoContainer {
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(48, 47, 47);
  margin: 0.5rem 0;
  width: 70% !important;
  border-radius: 5px;
}

.todoTitle {
  font-weight: bold;
  width: 2%;
  margin-right: 1rem;
}

.todoDescription {
  width: 50%;
  word-wrap: break-word;
  margin: 0 1rem;
}

.deleteButton {
  margin-left: 20%;
}